body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.canvas-container {
  width: 420px;
  height: 420px;
  margin-bottom: -25px;
}

.list-group {
  max-width: 200px;
}